$backgroundgColorBody: #fdfdfd;
$backgroundgColorFooter: #99c58f;
$fontColorBody: #228b22;
$fontColorFooter: #565656;
$navBarBackgroundColor: #228b22;
$navBarFontColor: #ffffff;
$navBarHoverColor: #172f13;
$borderColor: #000000;
$backgroundColorCards: #f6f6f6;