$font-family: 'Oswald',
sans-serif;
// tipografia para texto general

$font-titles: 'Bungee',
cursive;
// tipografia para títulos

$font-JD-Company: 'Press Start 2P',
cursive;
// tipografia para footer - desarrollado por