@import 'colors-styles';
@import 'fonts-styles';


@mixin footer-styles {
    background-color: $backgroundgColorFooter;
    color: $fontColorFooter;
    font-family: $font-family;
    font-size: 15px;
}

@mixin logoWhatsapp {
    position: fixed;
    bottom: 20px;
    right: 0%;
    margin-right: 5px;
}

@mixin h6-footer {
    text-decoration: underline;
    font-size: 20px;
    padding-bottom: 20px;
}

@mixin social-media-styles {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 17px;
}

@mixin JD-company {
    font-family: $font-JD-Company;
    font-size: small;
}